
Input/movebank_20221019_20230417.csv
Processed/gps_MR2022_day.csv
Processed/gps_MR2022_night.csv
Processed/gpsdata_filtered.csv
Processed/gpsdata_filtered2.csv
Processed/gpsdata_filtered_98.csv
Processed/gpsdata_filtered_99.csv
Processed/gpsdata_filtered_99ac.csv
Processed/gpsdata_filtered_98ac.csv
Processed/GPSdata_outliers.csv
Processed/GPSdata_clean.csv
Processed/GPSdata_smoothed.csv
Input/movebank/Aurora.csv
Input/movebank/Brook.csv
/Input/movebank
